@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
    position: absolute;
    margin: 50px auto;
    width: 100px;
    height: 80px;
    display:block;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.gear {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    animation: spin 5s infinite;
}

.one {
    left: -10px;
}

.two {
    left: 40px;
    width: 80px;
    height: 80px;
    animation: spin-reverse 5s infinite;
}

.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}
@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}
@keyframes spin-reverse {
    50% {
        transform: rotate(-360deg);
    }
}
.lil-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
    width: 100px;
    height: 100px;
    opacity: 0.65;
}
.blur-circle {
    position: absolute;
    top: -19px;
    left: -19px;
}
.text {
    color: lightgray;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
